@import './reset.css';
@import "tailwindcss";

body{
    /* for PCs */
    min-block-size: 100vh;

    /* for mobiles */
    min-block-size: 100dvh;
    background:#0f172b;
  }
  /* for hiding scroll bar */
  ::-webkit-scrollbar {
  display: none;
}

.gradient_1{
  background: #00364D;
  /* background: linear-gradient(70deg,rgba(0, 54, 77, 1) 0%, rgba(0, 0, 0, 1) 19%, rgba(0, 0, 0, 1) 83%, rgba(0, 54, 77, 1) 100%); */
  /* background: linear-gradient(50deg,rgba(0, 54, 77, 1) 0%, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 73%, rgba(0, 54, 77, 1) 100%); */
  background: #00364D;
background: -webkit-linear-gradient(50deg,rgba(0, 54, 77, 1) 0%, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 73%, rgba(0, 54, 77, 1) 100%);
background: -moz-linear-gradient(50deg,rgba(0, 54, 77, 1) 0%, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 73%, rgba(0, 54, 77, 1) 100%);
background: linear-gradient(50deg,rgba(0, 54, 77, 1) 0%, rgba(0, 0, 0, 1) 26%, rgba(0, 0, 0, 1) 73%, rgba(0, 54, 77, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#00364D",
  endColorstr="#00364D",
  GradientType=0
);
}

.gradient_2{

background: #66CFFF;
background: -webkit-linear-gradient(24deg, rgba(102, 207, 255, 1) 0%, rgba(73, 204, 132, 1) 15%, rgba(55, 230, 55, 1) 50%, rgba(73, 204, 132, 1) 80%, rgba(102, 207, 255, 1) 100%);
background: -moz-linear-gradient(24deg, rgba(102, 207, 255, 1) 0%, rgba(73, 204, 132, 1) 15%, rgba(55, 230, 55, 1) 50%, rgba(73, 204, 132, 1) 80%, rgba(102, 207, 255, 1) 100%);
background: linear-gradient(24deg, rgba(102, 207, 255, 1) 0%, rgba(73, 204, 132, 1) 15%, rgba(55, 230, 55, 1) 50%, rgba(73, 204, 132, 1) 80%, rgba(102, 207, 255, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66CFFF", endColorstr="#66CFFF", GradientType=0);
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
